composer.phar
vendor/
!vendor/czproject/*
public/thumbnail/
static/
public/static
public/mongo
mongo/
node_modules/
public/bower_components/
repository/
cache/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
