.editor-container {
	position:fixed;
	left:0px;
    top:63px;
	right:0px;
	bottom:0px;
}

.editor-content {
	position:relative;
	width:100%;
	height:100%;
}

.editor-menu {
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	width:200px;
}

.editor-toolbar {
	position:absolute;
	left:0px;
	top:0px;
	height:50px;
	right:0px;
}

.editor-area {
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
}

.editor-content.has-toolbar .editor-area {
	top:50px;
}

/** new layout **/

.editor-left {
	position:absolute;
	left:0px;
	top:0px;
	width:50%;
	bottom:0px;
}


.editor-right {
	position:absolute;
	right:0px;
	top:0px;
	left:50%;
	bottom:0px;
}

.editor-panel {
	position:relative;
	height:50%;
	background:white;
}

.editor-panel-border {
    border-right:1px solid #ddd;
}

.editor-panel-pull {
	position:relative;
	height:100%;
	background:white;
}

/** new layout **/

.editor-panel.halfscreen {
	top:50%;
}

.editor-panel.fullscreen {
	position: absolute;
	height:auto;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
}


.editor-data2 {
	position:absolute;
	left:0px;
	top:0px;
	right:1px;
	bottom : 0px;
    border-right:1px solid #ddd;
}

.editor-result:before {
    border-left:1px solid #ddd;
}

.editor-tool {
	position:absolute;
	height:24px;
	top:0px;
	left:0px;
	right:0px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:10px;

}

.editor-tool .h2 {
	font-size:20px;
}

.editor-tool2 {
	position:absolute;
	height:30px;
	top:50px;
	left:0px;
	right:0px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:10px;

}

.editor-info{
	position:absolute;
	top:52px;
	left:0px;
	right:0px;
	bottom:0px;
}

.editor-codemirror {
	position:absolute;
	top:46px;
	left:0px;
	right:0px;
	bottom:0px;
}

.editor-codemirror.editor-bottom-full {
	position:absolute;
	top:100px;
	left:0px;
	right:0px;
	bottom:17px;
}

.editor-submenu {
	display:none;
	position:absolute;
	top:46px;
	right:0px;
	width:299px;
	bottom:0px;
	overflow:hidden;
	background:white;
	border-left:3px solid #ddd;'
}

.editor-submenu .submenu-toolbar {
	position:absolute;
	top:0px;
	display:none;
	left:0px;
	right:0px;
	padding:5px;
	border-bottom:1px solid #ddd;
	font-size:13px;
}
.editor-submenu .submenu-content {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	overflow:auto;
}

.has-submenu .editor-codemirror {
	right:299px;
}

.has-submenu .editor-submenu {
	display:block;
}

.has-toolbar .submenu-toolbar {
	display:block;
}

.has-toolbar .submenu-content {
	top:35px;
	display:block;
}

.editor-statusbar {
	border-top:1px solid #ddd;
	position:absolute;
	height: 30px;
	left:0px;
	right:0px;
	bottom:0px;
	padding:3px;
	padding-left:10px;
}

.select-chart {
	position:absolute;
	top : 200px;
	left : 200px;
	right : 200px;
	bottom : 200px;
	background: cyan;
}


@media (max-width: 600px) {
  .select-chart {
    left:50px;
	right:50px;
  }
}

@media (max-width: 900px) {
  .select-chart {
    left:100px;
	right:100px;
  }
}

@media (max-height: 600px) {
  .select-chart {
    top:50px;
	bottom:50px;
  }
}

@media (max-height: 900px) {
  .select-chart {
    top:100px;
	bottom:100px;
  }
}

.color-picker {
    width:20px;
    height:20px;
    display:inline-block;
    margin-bottom:5px !important;
    border:2px solid black;
}

.color-picker.color-plus {
    text-align:center;
}

.cp-color-picker {
	z-index: 1;
}
.window-item-group {
    float:left;
    width:100%;
    font-weight:bold;
}
.window-item {
	position:relative;
	float:left;
	width:100px;
	padding:10px;
    cursor:pointer;
}

.window-item i[class*=icon] {
	width: 100px;
    font-size: 70px;
    padding: 20px 0px;
}

.window-item a {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal !important;
    display: block;
}

.window-item.select {
	background:#ddd;
}

.data-items {
	overflow:auto;
}

.data-item  {
	border:1px solid #ddd;
	margin:5px;
	padding:5px;
}

footer {
	display:none;
}

#component_load  {
	position: absolute;
    width: 0px;
    height: 24px;
    opacity: 0;
	top: 10px;
    right: 110px;
    cursor: pointer;
    padding-right: 90px;
}

.editor-navbar {
	float: right; 
	margin-top: -2px;
}

.import-toolbar {
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	height:35px;
	padding:0px !important;
	margin:0px !important;
}

.import-content {
	position:absolute;
	top:35px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:auto;
}

#external-resources {
	width:100%;
	height:100%;
	position:relative;
}

.external-list {
	position:absolute;
	left:0px;
	top:50px;
	right:0px;
	bottom: 40px;
	overflow:auto;
	border-bottom:1px solid #ddd;
}

.external-item {
	position:relative;
	width:100%;
	height:40px;
}

.external-item .handle {
	display:none;
	margin-right:10px !important;
}

.external-item .handle i {
	font-size:14px;
}

.external-item input[type=text] {
	display:inline-block;
	width:95%;
	margin-right:10px !important;
}

.my .external-item input[type=text] {
	width: 450px;
}

.external-item .btn {
	display:none;
}

.my .external-item .btn {
	display:inline-block;
}

.my .external-item .handle {
	display:inline-block;
}

.external-help {
	position:absolute;
	left:0px;
	right:0px;
	top:10px;
	border:1px solid green;
	color:green;
	padding:5px;

}
.external-toolbar {
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	height:30px;
	display:none;
}

.my .external-toolbar {
	display:block;
}

.blockUI {
	color:white;
	background:gray;
	opacity:0.8;
	position:fixed;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	z-index:999999999;
	display:none;
}

.blockUI .message {
	opacity:1;
	margin:0 auto;
	top:50%;
	position:fixed;
	left:50%;
	font-size:100px;
	width:300px;
	height:100px;
	margin-left:-150px;
}

.border-on {
border:1px dashed black;
height:30px;
}

#preprocessor {
	width:100%;
	position:relative;
}

.p-list {
	margin-top:10px;
}

.p-list .p-item {
	padding: 10px 0px;
}

.p-list .p-item label {
	display:inline-block;
	width:100px;
	text-align:right;
	margin-right:10px;
}

.p-list .p-item select {
	display:inline-block;
	width:200px;
	margin-right:10px;
}

.preprocessor-help {
	margin-top:10px;
	border:1px solid green;
	color:green;
	padding:5px;

}

.property-item {
	position:relative;
	overflow:auto;
	height:50px;
	border-bottom: 1px solid #ececec;
}

.property-item.colors {
	height:150px;
}

.property-header {
	font-weight:bold;
	font-size : 16px;
	padding:10px;
	background:#cdcdcd;
	color:#1c1c1c;
}

.property-item .property-key {
	position:absolute;
	left:0px;
	top:10px;
	bottom:1px;
	width:60%;
	padding-left:30px;
}

.property-item .property-value {
	position:absolute;
	left:60%;
	top:10px;
	bottom:1px;
	right:0px;
	padding-right:10px;
}

.theme .property-item .property-key {
	width:40%;
}

.theme .property-item .property-value {
	left:40%;
}

#key-list {
	font-weight:normal;
	font-size:13px;
}


.key-str {
	color:#ececec;
	display:none;
}
.key-name {
	/*font-weight:bold;*/
}