.nav {
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    background-color:white;
    border-bottom:1px solid #ddd;
    padding:2px;
}

.nav.result-only {
	display:none;
}

.nav-container {
	position:fixed;
    left:0px;
    right:0px;
    top:33px;
    bottom:0px;
}
.nav-container.result-only {
    top:0px;
}

.nav-content {
	position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    display:none;
}

.nav-content.active {
    display:block;
}

.nav-content .title{
	font-weight: bold;
	padding: 8px;
	color: #333;
	text-align: left;
}
.nav-content .content{
	text-align: left;
	padding: 0 8px 0px 8px;
	color: #a2a2a2;
	max-height:30px;
	text-overflow:ellipsis;
	white-space:normal;
	word-wrap:normal;
	max-width:100%;
	overflow:hidden;
}


.nav-btn {
	text-decoration:none;
    cursor:pointer; 
	font-size: 12px !important;
}

.nav-btn.active {
    font-weight:bold;
}

.nav-btn:hover {
	text-decoration: underline;
}

.nav-edit {
	color: #C6CACD; 
	font-size: 11px !important;
}
