/*body*/
body {
	font-family: 'noto sans', sans-serif;
	padding-top: 0 !important;
	background-color: #f1f1f1;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}


input,textarea {
	font-family: 'noto sans', sans-serif !important;
}

header{
	height: 63px;
	line-height: 63px;
	border-width: 0;
	border-bottom: 1px solid #2b3340;
	z-index: 100;
	background-color: #2b3340;
	background-image: none;
}
header a {
    text-decoration:none;
}

footer {
    position: relative;
	bottom:0px;
	left:0px;
	right:0px;
	padding: 15px 20px 15px 27px;
    overflow: visible;
    font-size: 12px;
    background-color: #2b3340;
    background-image: none;
	color: #abadb1;
	margin-top: 50px;
}

footer a {
	color:white;
	text-decoration:none;
}

footer .msg {
    font-size: 11px;
    line-height: 1.8em;
}

footer .link {
	position: absolute;
    text-align: right;
    font-size: 12px;
	margin-bottom: 5px;
	top: 9px;
	color: #abadb1;
}

footer .link  span {
	color: #abadb1;
	cursor: pointer;
}

footer .link [class*=icon-] {
	font-size:24px;
	margin-top:5px;
	margin-right:8px;
}


.logo {
	height: 52px;
	position: absolute;
	cursor: pointer;
	top: -2px;
}

.logo img {
	vertical-align: middle;
}
.logo-link {
	display: block;
	padding: 0 27px;
	z-index:1;
}
.gallery {
	position: absolute;
	color: #ffffff;
	left: 86px;
	font-size: 1.2em;
	font-weight: bold;
}
.login {
	float: right;
	display: inline-block;
	line-height: 63px;
	padding-right: 20px;
	position: relative;
	font-size: 12px;
}

.login a {
	color:white;
}

.login img {
	margin-bottom: -3px;
}

.login .separator {
	color:#414853;
}

.nav-wrap{
	background-color: #2b3340;
	height: 63px;
	position: absolute;
	top: 0;
	width: 100%;
	color: #ffffff;
}

.content-btn{
	top: 0;
	border-width: 0 0 1px;
	display: block;
	margin-top: 96px;
	text-align: center;
}
.nav-loadchart{
	position: absolute;
	text-align: center;
	width: 100%;
	top:0;
	display: inline-block;
	font-size: 0.875em;
	color:#abadb1;
	z-index:0;
}
#btn-chart-upload{
	margin-left: 10px;
	margin-right: 12px;
	position: relative;
	top: -2px;
}
.form-btn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	height: 31px;
	line-height: 29px;
	padding: 0 15px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}
.form-btn-small{
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	line-height: 25px;
	padding: 1px 16px;
}
.form-btn-dpurple{
	background: #a889fd;
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(#a889fd),to(#8c70d9));
	background: -webkit-linear-gradient(0% 0%,0% 100%,from(#a889fd),to(#8c70d9));
	background: -moz-linear-gradient(center top,#a889fd,#8c70d9);
	background: linear-gradient(#a889fd,#8c70d9);
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.form-btn-dpurple:hover,
.form-btn-dpurple:focus,
.form-btn-dpurple:active{
	background:#bea6ff;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#9e80f2),to(#765eb8));
	background:-webkit-linear-gradient(0% 0%,0% 100%,from(#9e80f2),to(#765eb8));
	background:-moz-linear-gradient(center top,#9e80f2,#765eb8);
	background:linear-gradient(#9e80f2,#765eb8);
}
/*content-container*/
#content-container {
	margin: 0 auto;
    box-sizing: border-box;
    text-align:center;
	position:relative;
	max-width:1024px;
	display:flex !important;
	flex-wrap:wrap;
}
/*btn-simple*/
.btn-simple{
	display: inline-block;
	padding: 7px 20px;
	margin-bottom: 0;
	margin-right: 10px;
	font-size: 0.75em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 20px;
	text-decoration: none;
	width:84px;
}
.form-btn-on {
	 color: #814fd5;
	 background-color: transparent;
	 border-color: #814fd5;
	 -webkit-transition:0.3s;
	 -moz-transition:0.3s;
	 -o-transition:0.3s;
	 transition:0.3s;
 }
.form-btn-on:hover,
.form-btn-on:focus,
.form-btn-on:active,
.open .form-btn-on {
	color: #814fd5;
	background-color: rgba(255,255,255,0.5);
	border-color: #814fd5;
}
.form-btn-off {
	color: #565656;
	background-color: transparent;
	border-color: #cacaca;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.form-btn-off:hover,
.form-btn-off:focus,
.form-btn-off:active,
.form-btn-off.active,
.open .form-btn-off {
	color: #565656;
	background-color: rgba(255,255,255,0.5);
	border-color: #cacaca;
}

.view-mode {
	padding:10px;	
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.22);
	border: 1px solid #ddd;
}

/*item summary*/
.summary-box {
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.22);
	width: 32%;
	border:1px solid #ddd;
	border-radius: 5px;
	display:block;
	margin:7px 4px 7px 4px;
	font-size:12px;
    position: relative;
}

.summary-box.box-list {
	width: 100%;

}

.summary-box.box-list .imagesfield{
	display:none !important;
}

.summary-box.box-list .name {
	display:none !important;
}

.summary-box.box-list .title a {
	color:black;
}

@media only screen and (max-width: 320px) {
  .summary-box {
    width:90%;
	margin:0 auto;
	margin-bottom:30px;
  }

  .summary-box.box-list {
	width:90%;
  }

  .view-mode { 
    padding-left:20px;
	padding-right:20px;
	border:0px !important;
	box-shadow:none;
  }


  .view-mode > div:first-child {
		padding-top:0px !important;
  }

  .btn-simple {
	padding:2px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
   .summary-box {
    width:90%;
	margin:0 auto;
	margin-bottom:30px;
  }

  .summary-box.box-list {
	width:90%;
  }


  .view-mode { 
    padding-left:20px;
	padding-right:20px;
	border:0px !important;
	box-shadow:none;
  }

  .view-mode > div:first-child {
		padding-top:0px !important;
  }


  .btn-simple {
	padding:2px;
  }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
   .summary-box {
    width:80%;
	margin:0 auto;
	margin-bottom:30px;
  }


  .view-mode { 
    padding-left:20px;
	padding-right:20px;
	border:0px !important;
	box-shadow:none;
  }


  .view-mode > div:first-child {
		padding-top:0px !important;
  }
}

.summary-box.large {
	width:100%;
	max-width:100%;
	height:inherit;
    margin:0px;
}

.summary-box a {
	text-decoration:none;
}
.item{
	text-align: left;
}
/*summary-normal*/
.summary-normal{
	background-color: #ffffff;
	/*border-radius: 5px; */
}
.summary-normal .name {
	line-height: 52px;
	height: 52px;
	margin: 0 auto;
	padding: 0 15px;
	border-bottom: 1px solid #f4f4f4;
	font-weight: bold;
	color: #2b3340;
	text-align: left;

}

.summary-normal .good {
	font-size: 12px;
	color: #a2a2a2;
	float: right;
}
.summary-normal .imagesfield {
	height: 164px;
	width: 100%;
	position:relative;
	overflow:hidden;
}

.summary-normal .imagesfield iframe.iframe-wrap{
    width: 100%;
	height: 100%;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	-ms-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
	-webkit-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
	-webkit-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}

.summary-normal .imagesfield.default-image {
	background-image: url(/images/chart-sample.jpg);
	background-repeat:no-repeat;
	background-position: 50% 50%;
}

.large .summary-normal .imagesfield {
	width:100%;
	max-width:100%;
	height: inherit;
}

.large .summary-normal .imagesfield #result,
.large .summary-normal .imagesfield iframe
{
	width:100%;
	height:500px;
	background:white;
}

.login-menu-big {
	display:inline-block;
}

.login-menu-small {
	display:none;
}

@media only screen and (max-width : 480px) {

	.login-menu-big {
		display:none;
	}

	.login-menu-small {
		display:inline-block;
	}

	.nav-loadchart {
		display:none;
	}

	.large .summary-normal .imagesfield {
		width:auto;
		max-width:none;
		margin-left:-20px;
		margin-right:-20px;
		height: inherit;
	}

	 .large .summary-normal .imagesfield #result,
	 .large .summary-normal .imagesfield iframe
	 {
		height:300px;
	}

	.summary-normal .imagesfield {
		height:240px;
	}

	.mini-view {
		display:none;
	}
}
@media only screen and (max-width : 700px) and (min-width : 481px) {


	.nav-loadchart {
		display:none;
	}

	 .large .summary-normal .imagesfield #result,
	 .large .summary-normal .imagesfield iframe
	 {
		height:400px;
	}

	.summary-normal .imagesfield {
		height:400px;
	}
}
@media only screen and (max-width : 1050px) and (min-width : 701px) {
	 .large .summary-normal .imagesfield #result,
	 .large .summary-normal .imagesfield iframe
	 {
		height:600px;
	}

}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
	 .large .summary-normal .imagesfield #result,
	 .large .summary-normal .imagesfield iframe
	 {
		height:600px;
	}
}


.summary-buttons {
	padding-right:10px;
	border-top:1px solid #f4f4f4;
}

.summary-buttons > span {
	margin-left:10px;
}


.summary-normal .imagesfield img{
	width: 100%;
	max-width: 100%;
}
.summary-normal .summary-info{
	height: 83px;
	border-top: 1px solid #f4f4f4;
}
.summary-normal .title{
	font-weight: bold;
	padding: 8px;
	color: #333;
	text-align: left;
}
.summary-normal .content{
	text-align: left;
	padding: 0 8px 0px 8px;
	color: #a2a2a2;
	max-height:30px;
	text-overflow:ellipsis;
	white-space:normal;
	word-wrap:normal;
	max-width:100%;
	overflow:hidden;
}

.summary-box.large .summary-normal .content{
	max-height:none;
	overflow:auto;
}

.view-mode .summary-info {
	height:auto;
}

.view-mode .content {
	max-height:none !important;
	height:auto !important;
	overflow:auto !important;
	padding:10px 0px;
}

.summary-normal:hover .imagesfield > img {
	opacity: 0.9;
}
.summary-normal:hover .summary-info > .title {
	color: #814fd5;
	text-decoration: none;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}

.simbol {
	border-radius:30px; 
	color:white;
	padding-left:6px;
	padding-right:6px;
	float:right;
}

.box-list .simbol {
	float:none;
}
.simbol-pr {
	background: #4D97E7;
}


.simbol-component {
	background: #4D97E7;
}

.simbol-page {
	background: #00FF00;
}

.simbol-style {
	background: #C77326;
}

.simbol-theme {
	background: #F06D97;
}

.simbol-data {
	background: #249E4D;
}

.simbol-map {
	background: #9B76E4;
}

.share-buttons{
  padding: 0;
}

.share-buttons img{
  width: 32px;
}

.share-button:hover {
	color:#814fd5;
}

a[data-view] {
	font-size:16px;
}

.box-a {
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
}	

.box-delete-btn {
	position:absolute;
	display:inline-block;
	right:0px;
	bottom:0px;
	padding:2px 10px;
	 color: #fff;
    border: 1px solid #9663f4;
    background-color: #9c75ec;
    background-image: -moz-linear-gradient(top,#9c75ec 0,#885ed5 100%);
    background-image: linear-gradient(top,#9c75ec 0,#885ed5 100%);
    background-image: -webkit-linear-gradient(top,#9c75ec 0,#885ed5 100%);
    background-image: -o-linear-gradient(top,#9c75ec 0,#885ed5 100%);
    background-image: -ms-linear-gradient(top,#9c75ec 0,#885ed5 100%);
}

.btn-purple {

    color: #fff;
    border: 1px solid #9663f4;
    background-color: #9c75ec;
    background-image: -moz-linear-gradient(top,#9c75ec 0,#885ed5 100%);
    background-image: linear-gradient(top,#9c75ec 0,#885ed5 100%);
    background-image: -webkit-linear-gradient(top,#9c75ec 0,#885ed5 100%);
    background-image: -o-linear-gradient(top,#9c75ec 0,#885ed5 100%);
    background-image: -ms-linear-gradient(top,#9c75ec 0,#885ed5 100%);
}

.jui .btn-purple.active:not([disabled]), .jui .btn-purple:active:not([disabled]) {
	color: #fff;
    border: 1px solid #9663f4;
    -webkit-box-shadow: rgba(0,0,0,.3)0 1px 5px inset,rgba(255,255,255,.2)0 1px 0;
    -moz-box-shadow: rgba(0,0,0,.3)0 1px 5px inset,rgba(255,255,255,.2)0 1px 0;
    box-shadow: rgba(0,0,0,.3)0 1px 5px inset,rgba(255,255,255,.2)0 1px 0;
    background-color: #a57ff2;
    background-image: -moz-linear-gradient(top,#a57ff2 0,#8f64de 100%);
    background-image: linear-gradient(top,#a57ff2 0,#8f64de 100%);
    background-image: -webkit-linear-gradient(top,#a57ff2 0,#8f64de 100%);
    background-image: -o-linear-gradient(top,#a57ff2 0,#8f64de 100%);
    background-image: -ms-linear-gradient(top,#a57ff2 0,#8f64de 100%);
}

.icon-help {
	cursor: help;
}



/* Base */
.jui-style section:not(:first-child) {
	margin-top: 50px;
}

.jui-style section:first-child {
	margin-top: -25px;
}

.jui-style section:last-child {
	margin-bottom: 75px;
}

/* Sentense */
.jui-style p {
    font-family: "Noto Sans", "Nanum Gothic", "Dotum", "sans-serif";
	color: #666;
	font-size: 0.9em;
	line-height: 1.6em;
}

.jui-style p.br {
	margin-top: 25px;
}

/* Header */
.jui-style h1 {
	font-size: 32px;
	margin-top: -10px;
	margin-bottom: 0;
	color: #8772bf;
	font-weight: 500;
	border-bottom: 1px solid #eee;
	padding-bottom: 9px;
}

.jui-style h2 {
	font-size: 24px;
	color: #2b3340;
	margin-top: 30px;
	font-weight: 400;
}

.jui-style h3 {
	font-size: 18px;
	color: #666;
	margin-top: 30px;
	margin-bottom: 0px;
	font-weight: 400;
}

/* Tables */
.jui-style table:not(.table):not(.xtable):not(.body) {
    font-family: "Noto Sans", "Nanum Gothic", "Dotum", "sans-serif";
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 1px solid #dcdcdc;
	 -webkit-border-radius: 2px;
	 -moz-border-radius: 2px;
	      border-radius: 2px;
	border-spacing: 0;
	border-collapse: collapse;
}
.jui-style table:not(.table):not(.xtable):not(.body) {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.jui-style table:not(.table):not(.xtable):not(.body) tr:nth-child(odd) {
	background-color:#fafafa;
}
.jui-style table:not(.table):not(.xtable):not(.body) tr:nth-child(even) {
	background-color:#ffffff;
}
.jui-style table:not(.table):not(.xtable):not(.body) td {
	vertical-align: middle;
	border: 1px solid #dcdcdc;
	border-width: 0px 1px 1px 0px;
	text-align: left;
	padding: 10px;
	font-weight: normal;
	font-size: 12px;
	color: #000000;
}
.jui-style table:not(.table):not(.xtable):not(.body) tr:last-child td{
	border-width: 0px 1px 0px 0px;
}
.jui-style table:not(.table):not(.xtable):not(.body) tr td:last-child{
	border-width: 0px 0px 1px 0px;
}
.jui-style table:not(.table):not(.xtable):not(.body) tr:last-child td:last-child{
	border-width: 0px 0px 0px 0px;
}
.jui-style table:not(.table):not(.xtable):not(.body) tr:first-child td{
	background-color: #f5f5f5;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}


.jui-style.dark {
    background-color: #1c1c1c;
}
.jui-style.dark h2 {
    color: #d5d5d5 !important;
}

.jui-style.dark table:not(.table):not(.xtable):not(.body) tr:first-child td {
    color: #fff !important;
}

.jui-style.dark table:not(.table):not(.xtable):not(.body) td {
    color: #666 !important;
    border: 1px solid #666 !important;
}

.jui-style.dark table:not(.table):not(.xtable):not(.body) tr:nth-child(odd),
.jui-style.dark table:not(.table):not(.xtable):not(.body) tr:first-child td {
    background-color: #2c2c2c !important;
}

.jui-style.dark table:not(.table):not(.xtable):not(.body) tr:nth-child(even) {
    background-color: #262626 !important;
}

.jui-style.dark .col {
    color: #666 !important;
} 


.back-white {
	background-color:white;
}

.border-none {
	border:0px;
	box-shadow:none;
}

.branch-title {
	cursor: pointer;
}